# Ignore macOS system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore image outputs (optional)
stego.png
decoded_message.png

# Ignore environment files
.env
